html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	text-align: center;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	position: relative;
	padding-bottom: 6rem;
	min-height: 100%;
}

#title {
	background-color: #ff6600;
}

#title h2 {
	margin: 0;
	padding: .5rem 0;
}

#description-container {
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(50,50,50,.2);
	padding: 5px;
	font-size: .85em;
	color: #333;
	border-radius: 4px;
	margin: 6px .5rem;
}

#text-container {
	/*border: 1px solid black;*/
	margin: 2rem 0rem;
	padding: 0 .5rem;
	margin-bottom: 3rem;
}



#solution-container {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 3rem;
	cursor: default;
	/*border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(50,50,50,.2);
	padding: 5px;
	font-size: .85em;
	color: #333;
	border-radius: 4px;
	margin: 5px 5rem;*/
}

/*#footer {
  margin-top: 8rem;
  
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 12px;
  padding: .5rem 0;
}
*/

#footer {
  margin-top: 8rem;
  position: absolute;
  background-color: #ff6600;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .65rem;
  font-size: 11px;
  text-align: center;
}

#footer p {
	text-align: left;
	margin: 1px;
	margin-left: 4px;
	
}
